@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-privacy-black text-privacy-text-primary antialiased;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}